<h1 align='center'> All articles </h1>

<div align='center'>
	<span class='page-btns'><%= will_paginate %></span>
</div>

<%= render 'shared/article', obj: @articles %>

<div align='center'>
	<span class='page-btns'><%= will_paginate %></span>
</div>