<!DOCTYPE html>

<head>
	<title>alpha-blog</title>
	<meta charset="UTC-8">
</head>

<body>
	<h1 style="text-align:center">About</h1>

	<p>
		About Page of my blog
	</p>

	<%= link_to 'Home', root_path %>
</body>