<!DOCTYPE html>

<head>
	<title>alpha-blog</title>
	<meta charset="UTC-8">
</head>

<body style='background-color: green'>
	<h1 style="text-align:center">Home</h1>

	<p>
		Home Page of my blog
	</p>

	<%= link_to 'About', about_path %>
</body>