$navbar-default-bg: rgba(34, 34, 34, 1);

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.panel-default .panel-heading {
	background-color: #583;
}

.panel-default .panel-heading h2 {
	color: #eee;
}

// Navigation
.navbar-default .navbar-nav li a {
    color: #eee;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li a:visited, .navbar-default .navbar-nav li a:focus {
    text-decoration: none;
}

.links a {
	color: #888;
}

.links a:hover, .links a:active, .links a:visited, .links a:focus {
	color: #494;
	text-decoration: none;
}

.navbar {
	border-radius: 0;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing:  -1px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

#category-edit {
	margin-top: 10px;
	margin-bottom: 20px;
}



#login {
	color: #eee;
}

#login:hover {
	color: #aaa;
}

// Custom button
.btn-success {
	background-color: #888;
	border-color: #888;
}

.btn-success:hover {
	background-color: #494;
	border-color: #494;
}

.btn-danger {
	background-color: #888;
	border-color: #888;
}

.btn-danger:hover {
	background-color: #d44;
	border-color: #d44;
}

.article-meta-details {
	border-top: 1px solid #eee;
	margin-top: 15px;
}

.article-meta-details small {
	color: #888;
}

.article-actions {
	border-top: 1px solid #eee;
	padding-top: 5px;
}

.description {
	margin-top: 0;
}

h1, h2 {
	color: #666;
	font-weight: bold;
}

// Article options
#article-panel:hover {
	border-color: #583;
}

#article-panel .panel-heading {
	background-color: #fff;
}

#article-panel:hover .panel-heading {
	background-color: #583;
	border-bottom-color: #583;
}

#article-panel .panel-heading span a {
	color: #494;
}

#article-panel:hover .panel-heading span a{
	color: #fff;
}

#article-panel .panel-heading .article-options .dropdown {
	display: none;
}

#article-panel:hover .panel-heading .article-options .dropdown {
	display: block;
}

#article-panel .panel-heading .article-options .open {
	display: block;
}

#article-panel .panel-heading .article-options .dropdown .glyphicon {
	color: #fff;
}

#article-panel .panel-heading .article-options .dropdown .glyphicon:hover {
	color: #ddd;
}

#article-panel .panel-heading .article-options .open .glyphicon {
	color: #494;
}

#article-panel:hover .panel-heading .article-options .open .glyphicon {
	color: #fff;
}

#article-panel .panel-heading .article-options .open .glyphicon:hover {
	color: #ddd;
}

.article-body {
	padding:bottom 15px;
}

.listing {
	list-style: none;
	padding-left: 0;
}

.badge {
	background-color: #888;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.badge a {
	color: #fff;
}

.badge:hover {
	background-color: #583;
}

.badge a:hover {
	color: #fff;
	text-decoration: none;
}

.input_checkbox input {
	width: auto !important;
}

.center {
	text-align: center;
}

#debug {
	padding-top: 100px;
	padding-bottom: 25px;
}

#footer {
	z-index: 3;
	position: fixed;
	bottom: 0px;
	margin: 0px;
	width: 100%;
}

footer {
	padding-top: 5px;
	color: #aaa;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

footer a {
	color: #ddd;
}

footer a:hover {
	text-decoration: none;
	color: #fff;
}

.form-control:focus {
  border-color: #494;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #888;
}

.page-btns .pagination ul li:not(.disabled) a {
	color: #494;
}

.page-btns .pagination ul li.active a {
	color: #fff;
	background-color: #494;
	border: 1px solid #494;
}

#override .dropdown-menu {
	padding: 0px;
}

#override .divider {
	margin: 0px;
}

#override .dropdown-menu .delete a:hover {
	color: #fff;
	background-color: #d44;
}

#override .dropdown-menu li a{
	color: #666;
	font-weight: bold;
}

#override .dropdown-menu li a:hover {
	color: #fff;
	background-color: #494;
	font-weight: bold;
}

#article-options {
	font-size: 22px;
}

// Show article
.comments li a,
.article-user a {
	color: #494;
	font-weight: bold;
}

.comments li a:hover,
.comments li a:active
.comments li a:visited,
.comments li a:focus,
.article-user a:hover,
.article-user a:active,
.article-user a:visited,
.article-user a:focus {
	text-decoration: none;
	color: #362;
}

.comments {
	list-style-type: none;
	padding-inline-start: 0px;
}

.comments .comment-header {
	color: #888;
}

.comment-img {
	padding-top: 2px
}

 #comment-options .dropdown {
	 display: none;
}

#comment-row:hover #comment-options .dropdown {
	display: block;
}

#comment-row #comment-options .open {
	display: block;
}