<div class='container' id='footer'>
	<footer class='footer'>
		<small>
			2019 &copy Spider Blog by Mark Fusco
		</small>
		<nav>
			<ul>
				<li>
					<%= link_to "About", about_path %>
				</li>
			</ul>
		</nav>
	</footer>
</div>